body {
    font-family: sans-serif;
}

#container {
    user-select: none;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#scoring {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0px;
    left: 0px;
    border-top: 3px solid #000;
    padding-left: 1em;
    padding-right: 1em;
}

#score-container {
    height: 20%;
    width: 20%;
    float: right;
}

#score {
    font-size: 120%;
    font-weight: bold;
    display: inline;
}

#selector {
    position: absolute;
    border: 2px solid #00f;
    border-radius: 2px;
}

#selector-inner {
    width: 100%;
    height: 100%;
    background-color: #00f;
    opacity: 0.2;
}

#selectoff {
    position: absolute;
    color: #f00;
}

#result {
    font-weight: bold;
    font-height: 20px;
}

#result.bad {
    color: #f00;
}

#picking {
    padding-top: 4px;
    height: 30px;
}

.letter {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    text-align: center;
    vertical-align: center;
    border-radius: 2px;
    user-select: none;
}

.pick-letter {
    float: left;
    margin-right: 2px;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    text-align: center;
    vertical-align: center;
    border-radius: 2px;
    user-select: none;
}
